@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Indie Flower', cursive;
}

header img {
	width: 100%;
	height: auto;
}

.intro-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-title h2 {
	font-size: 2rem;
	margin: 5rem 0 9rem 0;
}

.intro-content {
	display: flex;
	flex-direction: row;
}

.intro-content img {
	width: 50%;
	height: auto;
}

.intro-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10rem;
	width: 30%;
	/* Appear effect */
	opacity: 0;
	transform: translateY(20px);
	transition: 0.5s all ease-in-out;
}

.intro-appear {
	opacity: 1;
	transform: translateY(0px);
}

/* * {
	border: 1px solid red;
} */
