/* Base Styles */
* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/* Menu Based Styles */

nav {
	background: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav a {
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: block;
	padding: 10px;
}

nav a:hover {
	background-color: #555;
}

/* Social menu base styles */

/* .social a {
	text-indent: -10000px;
} */

/* Flex Styles */

nav ul.social {
	/* flex: 1 1 0; */
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	nav ul {
		display: flex;
	}

	nav li {
		flex: 1 1 0;
	}

	/* Nested styles */

	nav {
		display: flex;
		justify-content: space-between;
	}
}
