* {
	box-sizing: border-box;
	// padding: 0;
	// margin: 0;
}

// body {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 100vh;
// }

// .container {
// 	display: flex;
// 	max-width: 1200px;
// 	margin: 0 auto;
// 	padding: 0 15px;
// }

.form-row {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.form-group {
	padding: 0 15px;
	margin-bottom: 15px;
}

.checkbox-container {
	display: flex;
	flex-direction: row;
	// align-items: center;
	// margin: 1em;
	input[type='checkbox'] {
		// margin-right: 1em;
		cursor: pointer;
		opacity: 0;
		position: absolute;
		&:checked + label::before {
			background-color: red;
			content: '\002714';
		}
	}
	label {
		cursor: pointer;
		display: flex;
		font-weight: 600;
		margin-bottom: 5px;
		&::before {
			content: '';
			width: 20px;
			height: 20px;
			border: 1px solid black;
			margin-right: 1em;
		}
	}
}
